
#search::-moz-placeholder {
  color: white;
}

#ListNav li:hover a {
    color: #4A90E2 !important; /* Usa el azul de tu tema o white, según el contraste */
}

/* Mantén cursor: pointer en el li para que la mano aparezca en toda la fila */
#ListNav li:hover {
    cursor: pointer;
}


a,h2,label {
    font-family: 'Kite One', sans-serif; /* Aplica Kite One a los encabezados */
}


.estiloPerfil{
     
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    
    /* Estilo visual */
    background-color: #4A90E2; 
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px; 
}